<header class="header header--{{ page.layout }}">
  <div class="container">
    <nav class="nav row">
      <div class="col col-4 xs-col-12">
        <a href="/" class="title">{{ site.title }}</a>
      </div>
      {% capture nav__items %}
        <ul class="nav__items col col-8 xs-col-12">
          {% for item in site.nav.header %}
            <li class="nav__item"><a href="{{ item.link }}" class=" {% unless page.url contains item.link %} faded{% endunless %}">{{ item.text }}</a></li>
          {% endfor %}
        </ul>
      {% endcapture %}{{ nav__items | normalize_whitespace | replace: '> <', '><' }}
    </nav>
    <section class="banner">
      <h1 class="banner__title">{% if page.layout == 'case_study' %}Case Studies{% else %}{{ page.title }}{% endif %}</h1>
    </section>
  </div>
</header>
