{% assign sorted_transactions = site.transactions | sort: 'date' | reverse %}
<ul class="transactions row">
  {% for transaction in sorted_transactions  %}
    <li class="transaction col col-3 sm-col-4 xs-col-6">
      <a href="{{ transaction.link }}" class="transaction__inner">
        <time class="transaction__date">{{ transaction.date | date: "%Y" }}</time>
        <div class="transaction__image-wrap">
          <div class="fade fade--small transaction__image transaction__image--{{ transaction.title | slugify: 'pretty' }}" style="background-image: url('{{ transaction.image }}');"></div>
        </div>
        <h2 class="transaction__title">{{ transaction.title }}</h2>
        <ul class="transaction__meta">
          <li>
            {{ transaction.amount }}
          </li>
          <li>
            {{ transaction.type }}
          </li>
        </ul>
      </a>
    </li>
  {% endfor %}
</ul>
