// colors
// ------

$color--black: #07183E;
$color--white: #fff;

$color--blue:   #1654be;
$color--silver: #f6f8fa;

// $color--navy:   #262261;
// $color--yellow: #FAAF40;
// $color--green:  #00A69C;
// $color--purple: #5848DE;
// $color--red:    #E72351;
// $color--blue:   #277CEA;

// typography
// ----------

$font-size--html:    20px;
$font-size--html-md: 17.5px;

$font-size--normal: 1em;
$font-size--small:  0.833333em;

$courier: Courier, "Courier New", monospace;
$chivo:   "Chivo", sans-serif;

$font-family--body:      $chivo;
$font-family--monospace: $courier;

$line-height--normal: 1.5;

// sizing and spacing
// ------------------

$v: $line-height--normal * 1rem;

// grid
// ----

$max-width--container: 1220px;

// xs | sm | md | lg
$bp-xs-sm: 36rem;
$bp-sm-md: 54rem;
$bp-md-lg: 72rem;

$gutter:    1.5rem;
$gutter-sm: 1.25rem;

// miscellaneous
// -------------

$opacity--faded: 0.4;
$opacity--faint: 0.1;
