// colors
// ------

$color--white:  #fff;
$color--black:  #161616;
$color--gray:   #A2A2A2; // equivalent to rgba($color--black, $opacity--faded)

$color--silver: #F6F8FA;

$color--blue:   #2868C7;
$color--navy:   #081F54;
$color--red:    #F25848;
$color--yellow: #E6992B;
$color--green:  #19A58F;
$color--slate:  #949BA7;

// typography
// ----------

$font-size--html:    20px;
$font-size--html-md: 17px;

$font-size--large:   1.166667em;
$font-size--normal:  1em;
$font-size--small:   0.916667em;
$font-size--smaller: 0.833333em;

$mono: Courier, "Courier New", monospace;
$sans: "Chivo", sans-serif;

$font-family--body:      $sans;
$font-family--monospace: $mono;

$line-height--normal: 1.5;

// sizing and spacing
// ------------------

$v: $line-height--normal * 1rem;

// grid
// ----

$max-width--container: 1160px;

// xs | sm | md | lg
$bp-xs-sm: 36rem;
$bp-sm-md: 54rem;
$bp-md-lg: 72rem;

$bp-tabs: 608px;
$bp-nav:  468px;

$gutter:    1.5rem;
$gutter-sm: 1.25rem;

// miscellaneous
// -------------

$opacity--slightly-faded: 0.6;
$opacity--faded:          0.4;
$opacity--faint:          0.08;
$opacity--logo:           0.93;

$padding--hr: $v/2;
$color--hr:   rgba($color--black, $opacity--faint);

$duration--normal: 150ms;
