---
---

@charset "utf-8";

@import 'reset';
@import 'mixins';
@import 'variables';
@import 'animations';

// base
// ----

*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: $font-size--html;
  @media (max-width: $bp-sm-md) {
    font-size: $font-size--html-md;
  }
}
body {
  font-size: $font-size--normal;
  font-family: $font-family--body;
  line-height: $line-height--normal;
  -webkit-font-smoothing: antialiased;
  -font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color--white;
  color: $color--black;
}
img,
video,
iframe {
  max-width: 100%;
}
img,
video {
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}

// typography
// ----------

strong,
.strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
pre,
code,
kbd,
samp {
  font-family: $font-family--monospace;
  overflow: auto;
  white-space: pre;
}
pre {
  padding: $v/2;
}
pre,
code {
  background-color: $color--silver;
}

// rich text editor
// ----------------

.rte {
  a {
    @extend .underlined;
    @extend .fade;
  }
  .logo {
    opacity: $opacity--logo;
    &:hover {
      opacity: $opacity--slightly-faded;
    }
    border-bottom: none;
    display: inline-block;
  }
  h1,
  h2,
  h3 {
    &:not(:first-child) {
      margin-top: $v*1.5;
    }
  }
  h1,
  h2,
  h3 {
    @extend strong;
  }
  .h1,
  h1 {
    font-size: 2em;
    line-height: 1.2;
    @media (max-width: $bp-sm-md) {
      font-size: 1.75em;
    }
  }
  .h2,
  h2 {
    font-size: 1.5em;
    line-height: 1.2;
    @media (max-width: $bp-sm-md) {
      font-size: 1.333333em;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: $v*0.5;
  }
  h4,
  h5,
  h6 {
    @extend .faded;
  }
  p,
  ul,
  ol,
  blockquote,
  pre,
  table,
  img,
  .img,
  video,
  iframe {
    margin-bottom: $v;
  }
  img,
  .img,
  video,
  iframe {
    display: block;
  }
  blockquote {
    @extend em;
    em {
      font-style: normal;
    }
    border-left: 1px solid $color--black;
  }
  blockquote {
    padding-left: calc(1em - 1px);
  }
  ol,
  ul {
    ul,
    ol {
      margin-bottom: 0;
    }
    ul {
      list-style-type: circle;
    }
  }
  ol {
    padding-left: 1.75em;
    list-style-type: decimal;
    li {
      padding-left: 0.25em;
    }
  }
  ul {
    padding-left: 1.5em;
    list-style-type: disc;
  }
  table {
    width: 100%;
    text-align: left;
    th {
      @extend strong;
    }
    th,
    td {
      padding-right: 0.5em;
      &:last-of-type {
        padding-right: 0;
      }
    }
    code {
      white-space: normal;
    }
  }
  hr {
    margin-top: $v*1;
    margin-bottom: $v*1;
    border: 0;
    height: $v;
    text-align: center;
    &:after {
      font-size: $font-size--large;
      letter-spacing: 0.75em;
      content: '···';
    }
  }
  sup {
    font-size: $font-size--smaller;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }
  small {
    display: block;
    font-size: $font-size--small;
  }
  .caption {
    @extend small;
    margin-top: -$v*.75;
    margin-bottom: $v*1;
    @extend .faded;
  }
  .footnotes {
    margin-top: $v*2;
    @extend .faded;
  }
}

// page-specific
// -------------

.title {
  @extend strong;
  white-space: nowrap;
}
.header {
  position: relative;
}
.header__inner {
  padding-bottom: $v*0.5;
}
.header--image {
  background-color: $color--blue;
  color: $color--white;
  .header__inner {
    position: relative;
    z-index: 2;
    padding-bottom: $v*3;
    @media (max-width: $bp-sm-md) {
      padding-bottom: $v*2;
    }
  }
}
.header__image {
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.666667;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.nav {
  padding-top: $v*1;
  margin-bottom: $v*4;
  @media (max-width: $bp-md-lg) {
    margin-bottom: $v*3;
  }
  @media (max-width: $bp-sm-md) {
    padding-top: $v*0.75;
  }
}
.nav__items {
  text-align: right;
  @media (max-width: $bp-nav) {
    text-align: left;
  }
}
.nav__item {
  display: inline;
  margin-left: 0.75em;
  margin-right: 0.75em;
  @media (max-width: $bp-sm-md) {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}
.nav__col {
  &:first-child {
    width: 4/12*100%;
    @media (max-width: $bp-nav) {
      width: 100%;
    }
  }
  &:last-child {
    width: 8/12*100%;
    @media (max-width: $bp-nav) {
      width: 100%;
    }
  }
}
.footer {
  background-color: $color--silver;
  padding-top: $v*3;
  padding-bottom: $v*3;
  @media (max-width: $bp-sm-md) {
    padding-top: $v*2;
    padding-bottom: $v*2;
  }
}
.banner {
  text-align: center;
}
.banner__title {
  font-size: 3.333333em;
  line-height: 1;
  max-width: 13.5em;
  @extend strong;
  @media (max-width: $bp-md-lg) {
    font-size: 2.75em;
  }
  @media (max-width: $bp-sm-md) {
    font-size: 2.5em;
  }
  @media (max-width: $bp-xs-sm) {
    font-size: 2em;
  }
  margin-left: auto;
  margin-right: auto;
}
.banner__button {
  margin-top: $v;
}
.main {
  margin-top: $v*3;
  @media (max-width: $bp-sm-md) {
    margin-top: $v*2;
  }
  margin-bottom: $v*4;
}
.main__title {
  @extend strong;
  font-size: 1.5em; // same as .rte h2
  line-height: 1.2;
  @media (max-width: $bp-sm-md) {
    font-size: 1.333333em;
  }
  margin-bottom: $v;
}
.main__footer {
  margin-top: $v*4;
  margin-bottom: -$v*2;
}
.tabs {
  margin-top: -$v*3;
  margin-bottom: $v*3;
  @media (max-width: $bp-sm-md) {
    margin-top: -$v*2;
    margin-bottom: $v*2;
  }
  border-bottom: 1px solid $color--hr;
}
.tab {
  display: inline-block;
  @extend .sc;
  margin-right: 1em;
}
.tab__link {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  display: block;
  position: relative;
  &:after {
    content: '';
    display: block;
    background-color: transparent;
    height: 1px;
    position: absolute;
    width: 100%;
    bottom: -1px;
    @include transition(background-color $duration--normal);
  }
  &:hover:after {
    background-color: rgba($color--black, 0.2);
  }
}
.tab__link--active {
  &:after,
  &:hover:after {
    background-color: $color--black;
  }
}
@media (max-width: $bp-tabs) {
  .tabs {
    border-bottom-color: transparent;
    padding-top: $v;
  }
  .tab {
    display: block;
    border-bottom: 1px solid $color--hr;
  }
  .tab__link {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }
}
.section__title {
  @extend .faded;
}
.post__date {
  display: block;
  @extend .faded;
}
.post__link:hover {
  .post__title {
    opacity: $opacity--faded;
  }
}
.case-study {
}
.case-study + .case-study {
  margin-top: $v;
  border-top: 1px solid $color--hr;
  padding-top: $v*2;
}
.case-study__image-wrap,
.transaction__image-wrap {
  max-width: 21em;
  margin-left: auto;
  margin-right: auto;
}
.case-study__image,
.transaction__image {
  display: block;
  @include cover;
  padding-top: 50%;
  margin-bottom: $v;
}
.transaction {
  margin-bottom: $v*2;
}
.transaction__date {
  @extend .faded;
  display: block;
  margin-bottom: $v*0.5;
}
.page {
  margin-left: auto;
  margin-right: auto;
  max-width: 36rem;
}
.ruled-list > li {
  border-bottom: 1px solid $color--hr;
  padding-top: $padding--hr;
  padding-bottom: $padding--hr;
  &:first-of-type {
    padding-top: 0;
  }
  &:last-of-type {
    border-bottom-color: transparent;
    padding-bottom: 0;
  }
}
.swatch {
  position: relative;
  color: $color--white;
  padding-top: 60%;
  small {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
  }  
}

// grid
// ----

.container {
  width: 100%;
  max-width: $max-width--container;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;
}
.col {
  padding-left: $gutter/2;
  padding-right: $gutter/2;
}
@media (max-width: $bp-sm-md) {
  .container {
    padding-left: $gutter-sm;
    padding-right: $gutter-sm;
  }
  .row {
    margin-left: -$gutter-sm/2;
    margin-right: -$gutter-sm/2;
  }
  .col {
    padding-left: $gutter-sm/2;
    padding-right: $gutter-sm/2;
  }
}
.col-1 { width: 1/12*100%; }
.col-2 { width: 2/12*100%; }
.col-3 { width: 3/12*100%; }
.col-4 { width: 4/12*100%; }
.col-5 { width: 5/12*100%; }
.col-6 { width: 6/12*100%; }
.col-7 { width: 7/12*100%; }
.col-8 { width: 8/12*100%; }
.col-9 { width: 9/12*100%; }
.col-10 { width: 10/12*100%; }
.col-11 { width: 11/12*100%; }
.col-12 { width: 100%; }
@media (max-width: $bp-md-lg) {
  .md-col-1 { width: 1/12*100%; }
  .md-col-2 { width: 2/12*100%; }
  .md-col-3 { width: 3/12*100%; }
  .md-col-4 { width: 4/12*100%; }
  .md-col-5 { width: 5/12*100%; }
  .md-col-6 { width: 6/12*100%; }
  .md-col-7 { width: 7/12*100%; }
  .md-col-8 { width: 8/12*100%; }
  .md-col-9 { width: 9/12*100%; }
  .md-col-10 { width: 10/12*100%; }
  .md-col-11 { width: 11/12*100%; }
  .md-col-12 { width: 100%; }
}
@media (max-width: $bp-sm-md) {
  .sm-col-1 { width: 1/12*100%; }
  .sm-col-2 { width: 2/12*100%; }
  .sm-col-3 { width: 3/12*100%; }
  .sm-col-4 { width: 4/12*100%; }
  .sm-col-5 { width: 5/12*100%; }
  .sm-col-6 { width: 6/12*100%; }
  .sm-col-7 { width: 7/12*100%; }
  .sm-col-8 { width: 8/12*100%; }
  .sm-col-9 { width: 9/12*100%; }
  .sm-col-10 { width: 10/12*100%; }
  .sm-col-11 { width: 11/12*100%; }
  .sm-col-12 { width: 100%; }
}
@media (max-width: $bp-xs-sm) {
  .xs-col-1 { width: 1/12*100%; }
  .xs-col-2 { width: 2/12*100%; }
  .xs-col-3 { width: 3/12*100%; }
  .xs-col-4 { width: 4/12*100%; }
  .xs-col-5 { width: 5/12*100%; }
  .xs-col-6 { width: 6/12*100%; }
  .xs-col-7 { width: 7/12*100%; }
  .xs-col-8 { width: 8/12*100%; }
  .xs-col-9 { width: 9/12*100%; }
  .xs-col-10 { width: 10/12*100%; }
  .xs-col-11 { width: 11/12*100%; }
  .xs-col-12 { width: 100%; }
}

// utilities
// ---------

.faded {
  opacity: $opacity--faded;
}
a.faded:hover {
  opacity: 1;
}
a.fade:hover {
  opacity: $opacity--faded;
}
a.fade--small:hover {
  opacity: $opacity--slightly-faded;
}
a.faded,
a.fade {
  @include transition(opacity $duration--normal);
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.button {
  position: relative;
  display: inline-block;
}
.underlined {
  border-bottom: 1px solid $color--black;
}
.sc {
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: $font-size--smaller;
}
.button--right {
  &:after {
    content: url(/assets/images/icon--right.svg);
    display: inline-block;
    position: relative;
    top: 0.2em;
    width: 1em;
  }
  &.button--inverse:after {
    content: url(/assets/images/icon--right--inverse.svg);
  }
  &:hover:after {
    @include animation(arrowJostleRight .4s);
  }
}
.button--left {
  &:before {
    content: url(/assets/images/icon--left.svg);
    display: inline-block;
    position: relative;
    top: 0.2em;
    width: 1em;
  }
  &.button--inverse:before {
    content: url(/assets/images/icon--left--inverse.svg);
  }
  &:hover:before {
    @include animation(arrowJostleLeft .4s);
  }
}
.bg-black { background-color: $color--black; }
.bg-gray { background-color: $color--gray; }
.bg-silver { background-color: $color--silver; }
.bg-blue { background-color: $color--blue; }
.bg-navy { background-color: $color--navy; }
.bg-red { background-color: $color--red; }
.bg-yellow { background-color: $color--yellow; }
.bg-green { background-color: $color--green; }
.bg-slate { background-color: $color--slate; }

.mt0 { margin-top: 0; }
.mb0 { margin-bottom: 0; }

.mtv12 { margin-top: $v*12; }
.mbv12 { margin-bottom: $v*12; }

.mtv10 { margin-top: $v*10; }
.mbv10 { margin-bottom: $v*10; }

.mtv8 { margin-top: $v*8; }
.mbv8 { margin-bottom: $v*8; }

.mtv6 { margin-top: $v*6; }
.mbv6 { margin-bottom: $v*6; }

.mtv5 { margin-top: $v*5; }
.mbv5 { margin-bottom: $v*5; }

.mtv4 { margin-top: $v*4; }
.mbv4 { margin-bottom: $v*4; }

.mtv3 { margin-top: $v*3; }
.mbv3 { margin-bottom: $v*3; }

.mtv2 { margin-top: $v*2; }
.mbv2 { margin-bottom: $v*2; }

.mtv1-5 { margin-top: $v*1.5; }
.mbv1-5 { margin-bottom: $v*1.5; }

.mtv1 { margin-top: $v*1; }
.mbv1 { margin-bottom: $v*1; }

.mtv0-5 { margin-top: $v*.5; }
.mbv0-5 { margin-bottom: $v*.5; }

.mtv0-25 { margin-top: $v*.25; }
.mbv0-25 { margin-bottom: $v*.25; }

.mtnv0-25 { margin-top: -$v*.25; }
.mbnv0-25 { margin-bottom: -$v*.25; }

.mtnv0-5 { margin-top: -$v*.5; }
.mbnv0-5 { margin-bottom: -$v*.5; }

.mtnv1 { margin-top: -$v*1; }
.mbnv1 { margin-bottom: -$v*1; }
