---
layout: default
---

<section class="about">
  <div class="row">
    <ul class="about-pages col col-4 xs-col-12">
      {% for about_page_title in site.about_pages %}
        <li class="about-page">
          {% if page.title == about_page_title %}
            {% assign is_active = true %}
          {% else %}
            {% assign is_active = false %}
            {% assign about_page = site.pages | where: "title", about_page_title | first %}
          {% endif %}
          {% unless is_active %}
            <a href="{{ about_page.url }}">
          {% endunless %}
              <h3 class="about-page__title{% if is_active %} faded{% endif %}">
                {{ about_page_title }}
              </h3>
          {% unless is_active %}
            </a>
          {% endunless %}
        </li>
      {% endfor %}
    </ul>
    <div class="col col-8 xs-col-12 rte">
      {{ page.content | markdownify }}
    </div>
  </div>
</section>
