---
layout: default
---

<section class="section section--developments row">
  <div class="col col-4 sm-col-12">
    <h4 class="section__title">Recent Developments</h4>
  </div>
  <ul class="col col-8 sm-col-12">
    {% for post in site.posts limit:site.recent_posts %}
      <li class="post">
        <div class="row">
          <div class="col col-9">
            <h2><a href="{{ post.link }}" class="post__title">{{ post.title }}</a></h2>
            <a href="{{ post.link }}" class="post__link faded">{{ post.link | split: '://' | last | split: '/' | first | remove: 'www.' }}</a>
          </div>
          <div class="col col-3">
            <time datetime="{{ post.date | date_to_xmlschema }}" class="post__date"><a href="{{ post.link }}" class="faded">{{ post.date | date: site.date_format }}</a></time>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</section>
